<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Строительная Артель Годунова</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="img/logo.jpg" height="320" width="991" alt="">
            <div class="name">Строительные работы<br/>в Ижевске и Удмуртии</div>
            <div class="phone">+7 (3412) 55-55-55</div>
            <div class="timework">пн. - пт. 9:00 - 21:00</div>
            <button type="button" class="callback btn btn-danger" data-toggle="modal" data-target="#window">заказать обратный звонок</button>
        </div>
        <div class="slogan">
            <div class="firstline">Строительство домов под ключ<br/>с экономией 100 000 рублей</div>
            <div class="secondline">Проект Вашего дома в подарок. Работаем без предоплаты</div>
        </div>
        <div class="promo1">
            <img src="img/promo.jpg" height="400" width="999" alt="">
            <div class="desc">
                <div class="desc-header">Только сегодня!</div>
                <div class="desc-text">Оставьте заявку на строительство дома<br/>и получите пластиковые окна<br/>на сумму 100 000 рублей<br/>в подарок!</div>
            </div>
            <div class="booking">

            <form method="POST" action="/mail">
            	Успейте заказать!
                <input name="name" placeholder="Ваше имя" type="text" class="name form-control" required>
                <input name="phone" placeholder="Ваш телефон" type="text" class="phone form-control" required>
                <input class="source" type="hidden" value="">
	            <input class="keyword" type="hidden" value="">
                <button type="submit" class="req btn btn-warning">Оставить заявку</button>
            </form>
                
            </div>
        </div>
        <div class="counter">
            <div class="mess">До конца акции<br/>осталось:</div>
            <div class="count days">
                <div class="numb">00</div>
                <div class="desc">дней</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb hours">00</div>
                <div class="desc">часов</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb mins">00</div>
                <div class="desc">минут</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb secs">00</div>
                <div class="desc">секунд</div>
            </div>
        </div>
        <div class="section build">
            <header>Виды строительства</header>
            <div class="brick"><span>Дома из кирпича 
и блоков</span></div>
            <div class="x"></div>
            <div class="wood"><span>Деревянные дома</span></div>
            <div class="x"></div>
            <div class="frame"><span>Каркасные дома</span></div>
            <div class="garage"><span>Бани, бесеедки, 
гаражи, заборы</span></div>
            <div class="x"></div>
            <div class="industrial"><span>Промышленное 
строительство</span></div>
        </div>
        <div class="adv">
            <div class="adv1">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>
            <div class="adv2">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>
            <div class="adv3">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>
            <div class="adv4">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>
            <div class="adv5">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>
            <div class="adv6">
                <h4>Можете посетить наши<br/>действующие объекты</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos, velit reiciendis quisquam debitis nemo autem nesciunt iusto repellendus qui voluptatem.</p>
            </div>

        </div>
        <div class="promo2">
            <div class="desc">
                <div class="desc-header">Только сегодня!</div>
                <div class="desc-text">Оставьте заявку на строительство дома<br/>и получите пластиковые окна<br/>на сумму 100 000 рублей<br/>в подарок!</div>
            </div>
            <div class="booking">
               <form method="POST" action="/mail">
	            	Успейте заказать!
	                <input name="name" placeholder="Ваше имя" type="text" class="name form-control" required>
	                <input name="phone" placeholder="Ваш телефон" type="text" class="phone form-control" required>
	                <input class="source" type="hidden" value="">
	            	<input class="keyword" type="hidden" value="">
	                <button type="submit" class="req btn btn-warning">Оставить заявку</button>
            	</form>
            </div>
        </div>
        <div class="counter">
            <div class="mess">До конца акции<br/>осталось:</div>
            <div class="count days">
                <div class="numb">00</div>
                <div class="desc">дней</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb hours">00</div>
                <div class="desc">часов</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb mins">00</div>
                <div class="desc">минут</div>
            </div>
            <div class="count colon">
                <div class="numb">:</div>
            </div>
            <div class="count">
                <div class="numb secs">00</div>
                <div class="desc">секунд</div>
            </div>
        </div>
        <div class="section work">
            <header>Порядок работы</header>
            <div class="step one">1</div>
            <div class="lt"></div>
            <div class="step two">2</div>
            <div class="lt"></div>
            <div class="step three">3</div>
            <div class="lt"></div>
            <div class="step four">4</div>
            <div class="text one">Звоните нам +7 (495) 555-55-55
или оставляете заявку на сайте <br/><button type="button" class="req btn btn-warning" data-toggle="modal" data-target="#window">Оставить заявку</button></div>
            <div class="text two">Sed ut perspiciatis unde omnis 
natus error sit voluptatem 
doloremque laudantium, totam
rem aperiam</div>
            <div class="text three">Sed ut perspiciatis unde omnis 
natus error sit voluptatem 
doloremque laudantium, totam
rem aperiam</div>
            <div class="text four">Sed ut perspiciatis unde omnis 
natus error sit voluptatem 
doloremque laudantium, totam
rem aperiam</div>
        </div>
        <div class="partners">Нам доверяют:
            <div class="rzd"></div>
            <div class="leto"></div>
            <div class="magnit"></div>
        </div>



        <div class="section portfolio clearfix">
            <header>Наши работы</header>
            <div class="portfolio-items-wrapper">
                <div class="column col-xs-offset-1 col-xs-5">
                    <div class="item item-odd">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>
                    <div class="item item-odd">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>
                    <div class="item item-odd">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>

                </div>
                <div class="column col-xs-5">
                    <div class="item item-even">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>
                    <div class="item item-even">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>
                    <div class="item item-even">
                        <img src="img/portfolio/dummy.jpg" alt="Пример работы Строительной Артели Горбунова">
                        <div class="slideUp">
                            <span class="slideUp-estateType">В некотором царстве</span><br/>
                            В некотором государстве
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-more">Показать еще</button>
            </div>
           
        </div>



        <div class="section map">
            <header>Карта местонахождения офиса</header>
            <div id="map"></div>
        </div>
        <div class="question">
            <div class="desc">У вас появились вопросы?<br/>Спросите нас:</div>
            <form method="POST" action="/question">
            	<input name="name" placeholder="Ваше имя" type="text" class="name form-control" required>
	            <input name="phone" placeholder="Ваш телефон" type="text" class="phone form-control" required>
	            <textarea name="question" placeholder="Ваш вопрос" class="text form-control" name="" id="" cols="30" rows="7"></textarea>
	            <input class="source" type="hidden" value="">
	            <input class="keyword" type="hidden" value="">
	            <button type="submit" class="send btn btn-warning">Отправить</button>
            </form>
            
        </div>
        <div class="footer">
            <img src="img/logomin.jpg" height="84" width="437" alt="">
            <div class="name">Строительные работы<br/>в Ижевске и Удмуртии</div>
            <div class="phone">+7 (3412) 55-55-55</div>
            <div class="timework">пн. - пт. 9:00 - 21:00</div>
            <div class="details">Реквизиты компании</div>
        </div>
    </div>

    <div class="modal fade" id="window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Отправить заявку</h4>
	      </div>
	      <div class="modal-body clearfix">
	        <form method="POST" action="/mail">
                <input name="name" placeholder="Ваше имя" type="text" class="name form-control" style="margin-bottom: 15px;" required>
                <input name="phone" placeholder="Ваш телефон" type="text" class="phone form-control" required>
                <input class="source" type="hidden" value="">
	            <input class="keyword" type="hidden" value="">
	            <p>&nbsp;</p>
	            <div class="text-center"><button type="submit" class="req btn btn-warning">Отправить</button></div>
                
            </form>
	      </div>
	    </div>
	  </div>
	</div>

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>